[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
matplotlib = "*"
opencv-python = "*"
jupyter = "*"
imageio = "*"
scikit-image = "*"
pandas = "*"
numpy = "*"
seaborn = "*"
scipy = "*"
openpyxl = "*"
pillow = "*"
xlsxwriter = "*"
sklearn = "*"
eel = "*"
tk = "*"

[dev-packages]

[requires]
python_version = "3.10"
